// Dark blue and modern theme overrides
$background-color: #001122;
$text-color: #e0e0e0;
$brand-color: #00bcd4;
$grey-color: #555555;
$grey-color-light: #777777;
$grey-color-dark: #333333;

@import "minima";

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}